/20Pin_To_CW312_AltiumSrc/__Previews/
/20Pin_To_CW312_AltiumSrc/History/
/20Pin_To_CW312_AltiumSrc/Project Logs for CW313_20pinToTarget
/20Pin_To_CW312_AltiumSrc/Project Outputs for CW313_20pinToTarget
/20Pin_To_CW312_AltiumSrc/OUTPUT
